<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="59543302734-dd9cpvrb8gno27clk9doe1gkj616pl3d.apps.googleusercontent.com">
  <title>Document</title>
</head>
<script type="module" src="/src/js/modules/jquery-3.7.1.min.js?v=1.0"></script>
<script type="module" src="/src/js/modules/axios.min.js?v=1.0"></script>
<script src="https://sdk.mercadopago.com/js/v2"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>